html {
  font-size: 16px;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  background-color: white;

}
.container {
  max-width: 1024px;
  margin: auto;
}

h1 {
  font-size: 2.25rem;
  line-height: 3rem;
  font-weight: 700;
  color: #514949;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #514949;

}

h4 {
  font-size: 2rem;
  font-weight: 700;
  color: #514949;

}

h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: #514949;

}
 p {
   line-height: 1.25rem;
   color: #666161;

 }

header {
  background-color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

nav div {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  height: 2rem;
}

nav span {
  font-size: 1.75rem;
  font-weight: 700;
}

#academy {
  color: lightgray;
  font-weight: normal;
}

nav li {
  display: inline;
  padding: 0 .5rem;
  font-size: 1.2rem;
}
 nav ul {
   padding-right: .5rem;
 }

header img {
  height: 3rem;
}

/* main banner */

.main-banner {
  background-color: lightgray;
  margin: auto;
}

.main-banner .container {
  display: flex;
  justify-content: space-between;
}

.studying {
  width: 60%;
  padding: 2rem 1.5rem
}

.studying img {
  width: 100%;
}

.words {
  width: 40%;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 8rem;
  height: auto;
  padding-left: 1.5rem;
  margin-right: 2rem;
}

.heading h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.heading a {
  text-align: center;
  background-color: #565f66;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;

}

/* second banner */

.information {
  background-color: white;
  margin: auto;
}

.information .container {
  display: flex;
  justify-content: space-between;
}

.information-left {
  width: 60%;
  padding: 2rem 1.5rem;
}

.information-left img {
  width: 100%;
}

.information-left h4 {
  padding-top: 2rem;
}

.information-left p {
  padding-top: 1.5rem;
}

.information-left .emanuel {
}

.information-right {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  border-left: 1px solid lightgray;
}

.information-right img {
  height: 35%;
  width: 35%;
  padding: 1rem 1rem;
}

 .box {
  width: 100%;
  display: flex;
}

.orientation {
  border-bottom: 3px solid lightgray;
}

.lecture {
  background-color: lightgray;
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:
  padding: .5rem;
  width: 65%;
}

.info-block p {
  padding: .5rem 0;
}

.info-block a {
  text-decoration: none;
  color: blue;
}

/* Third Banner */

.courses {
  background-color: #e5e5e5;
  margin: auto;
}

.courses h4 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.courses .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course-info {
  width: 17rem;
  background-color: white;
  margin: 1rem 1rem;
}

.classes {
  padding: 1rem 0 1.5rem 1rem;
}

.course-info img {
  width: 100%;
}

.course-info p {
  padding-top: .5rem;
}

/* fourth banner */

.thesis {
  background-color:;
  margin: auto;
}

.thesis h4 {
  text-align: center;
  padding-top: 2rem;
}

.thesis .container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.thesis-left {
  width: 60%;
  margin: 2rem .75rem .75rem 1.5rem;
}
.thesis-left video {
  width: 100%;
  object-fit: contain;
}

.thesis-left h4 {
  padding-top: 1.5rem;
}

.thesis-left p {
  padding-top: .5rem
}

.thesis-right {
  width: 40%;
  margin: 2rem 0 0 .75rem;
}

.fisma {
  background-color: lightgray;
}

.thesis-right img {
  width: 35%;
  height: 35%;
  padding: 1rem;
}

.thesis-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.thesis-block p {
  padding-top: 1rem;
}





/* footer */

footer {
  border-top: 1px solid black;
  background-color: white;
  height: 3rem;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

footer p {
  padding-left: 1.5rem;
  padding-right:1.5rem;
  color: grey;
}

footer nav {
  text-align: right;
}

.footer-nav a {
  display: flex;
  padding-right: 1rem;
  text-decoration: none;
  color: grey;
}
