html {
  font-size: 16px;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  background-color: white;

}
.container {
  max-width: 1024px;
  margin: auto;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}

h1 {
  font-size: 2.25rem;
  line-height: 3rem;
  font-weight: 700;
  color: #514949;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #514949;
  font-weight: 700;
}

h4 {
  font-size: 2rem;
  font-weight: 700;
  color: #514949;
}

h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: #514949;

}
 p {
   line-height: 1.25rem;
   color: #666161;
 }

/* header */

header {
  background-color: white;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

header .logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  height: 2rem;
}

.logo span {
  font-size: 1.75rem;
  font-weight: 700;
}

#academy {
  color: lightgray;
  font-weight: normal;
}

nav li {
  display: inline;
  padding: 0 .5rem;
  font-size: 1.2rem;
}
 nav ul {
   padding-right: .5rem;
 }

header img {
  height: 3rem;
}

.mobile-menu {
  display: none;
}

@media only screen and (max-width: 480px) {

  .menu {
    display: none;
  }

  header .logo {
    display: none;
  }

  nav.mobile-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }

  .mobile-icon {
    width: 8%;
  }
}



/* main banner */

.main-banner {
  background-color: lightgray;
  margin: auto;
}

.main-banner .container {
  display: flex;
  justify-content: space-between;
}

.studying {
  width: 60%;
  padding: 2rem 1.5rem
}

.studying img {
  width: 100%;
}

.words {
  width: 40%;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 8rem;
  height: auto;
  padding-left: 1.5rem;
  margin-right: 2rem;
}

.heading h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.heading a {
  text-align: center;
  background-color: #565f66;
  font-size: 1.25rem;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
}

.heading a:hover {
  background-color: #9a9ea5;
}

@media only screen and (max-width: 480px) {
  .main-banner .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .main-banner .studying {
    width: 100%;
    padding: 0px 0px;
  }

  .words {
    width: 100%;
  }

  .heading {
    margin: 32px 24px;
    padding-left: 0px;
    align-items: center;
  }

  .heading a {
    width: 100%;
  }
}


/* second banner */

.information {
  background-color: white;
  margin: auto;
}

.information .container {
  display: flex;
  justify-content: space-between;
}

.information-left {
  width: 60%;
  padding: 2rem 1.5rem;
}

.information-left img {
  width: 100%;
}

.information-left h4 {
  padding-top: 2rem;
}

.information-left p {
  padding-top: 1.5rem;
}

.information-left .emanuel {
  color: black;
}

.information-right {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  border-left: 1px solid lightgray;
}

.information-right img {
  height: 35%;
  width: 35%;
  padding: 1rem 1rem;
}

 .box {
  width: 100%;
  display: flex;
  align-items: center;
}

.orientation {
  border-bottom: 3px solid lightgray;
}

.lecture {
  background-color: lightgray;
}

.info-block {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  width: 65%;
}

.info-block p {
  padding: .5rem 0;
}

.info-block a {
  text-decoration: none;
  color: blue;
}

.box .mobile {
  display: none;
}

@media only screen and (max-width: 480px) {

  .information-left {
    display: none;
  }

  .information-right {
    width: 100%;
    padding: 1rem 1rem 2rem 1rem;
    border-bottom: 1px solid lightgray;
  }

  .box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .box img.desktop {
    display: none;
  }

  .box img.mobile {
    display: flex;
    width: 100%;
  }

  .info-block {
    width: 100%;
    padding-left: 2rem;
  }
  .orientation {
    border: none;
  }

  .lecture {
    background-color: white;
  }

}

/* Third Banner */

.courses {
  background-color: #e5e5e5;
  margin: auto;
}

.courses h4 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.courses .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course-info {
  width: 17rem;
  background-color: white;
  margin: 1rem 1rem;
}

.classes {
  padding: 1rem 0 1.5rem 1rem;
}

.course-info img {
  width: 100%;
}

.course-info p {
  padding-top: .5rem;
}

.course-mobile {
  display: none;
}

@media only screen and (max-width: 480px) {

  .courses {
    background-color: white;
  }

  .course-info {
    display: none;
  }

  .courses .container {
    justify-content: flex-start;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 1.75rem;
  }

  .course-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .course-mobile h5 {
    background-color: lightgray;
    font-weight: 400;
    padding: 1rem 1rem;
    margin: .25rem 1rem;
    text-align: left;
  }


}

/* fourth banner */

.thesis {
  background-color:;
  margin: auto;
}

.thesis h4 {
  text-align: center;
  padding-top: 2rem;
}

.thesis .container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.thesis-left {
  width: 60%;
  margin: 2rem .75rem .75rem 1.5rem;
}
.thesis-left video {
  width: 100%;
  object-fit: contain;
}

.thesis-left h5 {
  padding-top: 1.5rem;
}

.thesis-left p {
  padding-top: .5rem
}

.thesis-right {
  width: 40%;
  margin: 2rem 0 0 .75rem;
}

.fisma {
  background-color: lightgray;
}

.thesis-right img {
  width: 35%;
  height: 35%;
  padding: 1rem;
}

.thesis-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.thesis-block p {
  padding-top: 1rem;
}

.mobile-vid {
  display: none;
}

@media only screen and (max-width: 480px) {

  .thesis-left {
    display: none;
  }

  .thesis-right {
    display: none;
  }

  .thesis .container {
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .mobile-vid {
    display: flex;
    align-items: flex-start;
  }

  video {
    width: 100%;
    object-fit: contain;
  }

}

/* footer */

footer {
  border-top: 1px solid black;
  background-color: white;
  height: 3rem;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding-bottom: 2.5rem;
}

footer p {
  padding-left: 1.5rem;
  padding-right:1.5rem;
  color: black;
}

footer nav {
  text-align: right;
}

.footer-nav a {
  padding-right: 1rem;
  text-decoration: none;
  color: grey;
}

@media only screen and (max-width: 480px) {

  .footer-nav {
    display: none;
  }

  footer .container {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
}
